<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black position-relative"> 
          <div class="row g-0">
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2 order-lg-1 order-1">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4"> 
                <strong>
                  <h4 class="mb-4">Bem-vindo de volta!</h4>
                  <p class="small mb-0">Por favor, entre na sua conta para continuar acessando nossos serviços.</p>
                </strong>
              </div>
            </div>

            <div class="col-lg-6 order-lg-2 order-2 blur-overlay">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-start"> 
                  <h2 class="mt-1 mb-5 pb-1">Login</h2>
                </div>
                <form action="/login" method="POST">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Digite seu email" required />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="password">Senha</label>
                    <input type="password" class="form-control" name="password" placeholder="Digite sua senha" required />
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <input type="submit" class="btn btn-primary btn-block mb-3" value="Entrar" style="background-color: #007bff; border-color: #007bff;">
                  </div>
                  <div class="form-footer mt-3 text-center">
                    <p>Não tem uma conta? <a href="/register" style="color: #007bff;">Clique aqui</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
