* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}
#logo img {
    height: 100px;
}

.edit{
    border-radius: 15px 5px;
}
.nav-link {
    color: #fff !important;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffd700; 
}
.modal-header{
    background:  #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container {
    margin-top: 30px;
}
.message {
    padding: 1em;
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}

.containerUser{
    min-height: 54vh;
}

.gradient-custom-2 {
    background: rgb(41, 9, 121);
    background: linear-gradient(90deg, rgba(41, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 61%);
}
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (max-width: 979px) and (min-width: 519px){ 
    .containerUser{
        min-height: 42.5vh;
    }
}
@media (max-width: 518px){
    .containerUser{
        min-height: 28vh;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}