<div class="evento-form-container">
    <a href="/eventos/dashboard">Voltar</a>
    <h1>Criando tarefa</h1>
    <form action="/eventos/add" method="POST">
        <div class="form-control">
            <label for="title">Evento:</label>
            <input type="text" name="title" placeholder="digite seu evento">
        </div>
        <input type="submit" value="Criar Evento">
    </form>
</div>