<div class="container my-0">
  
    <div class="card text-center mb-5">
        <div class="card-body">
            <h2 class="card-title">Olá, Administrador</h2>
            <h5 class="card-subtitle mb-3">Aqui você pode criar seus eventos do CIMOL</h5>
            <a href="/eventos/add" class="btn btn-primary">Criar Evento</a>
        </div>
    </div>


    <h3 class="mb-3">Eventos no Ar</h3>

   
    <div class="card">
        <div class="card-body">
            <p class="card-text">Aqui estão listados os eventos ativos atualmente.</p>
            
        </div>
    </div>

    <ul>
        {{#each eventos}}
            <li>
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a href="/eventos/edit{{this.id}}" class="btn"></a>Editar
                    <form action="/eventos/remove" method="POST"></form>
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Excluir" class="btn">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
</div>
